* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #000;
  font-family: monospace;
  max-width: 400px;
  margin: 100px auto;
}

.container {
  max-width: 1200px;
}

.formulario {
  display: flex;
  flex-direction: column;
  background: #fff;
  padding: 100px;
}

.formulario form div {
  margin-bottom: 20px;
}