* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  font-family: monospace;
  background: #000;
  color: #fff;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  align-items: center;
  font-size: 2rem;
}