* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #111;
  font-size: 1.5rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.cabecalho {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.headerImg {
  max-width: 4rem;
  display: flex;
}

.menu {
  display: flex;
  gap: 1.2rem;
}

.footer {
  display: flex;
  justify-content: center;
  margin-top: 800px;
}