/* Background & Box Layout */
.backgroud-about {
  background: var(--cor-s3);
  position: relative;
}

.sub-bg-about {
  background: var(--cor-p3);
}

.sub-bg-s-about {
  background: var(--cor-s3);
  border-radius: 120px 0 120px 0;
}

.about-top img {
  margin-right: 80px;
}

.about-bot img {
  margin-left: 10px;
}