/* Container */
.container {
  display: flex;
  justify-content: center;
  height: 945px;
}

/* Grid */
.grid {
  display: grid;
  grid-template-columns: repeat(14, 1fr);
  grid-template-rows: auto auto 1fr;
  width: 1200px;
  justify-content: center;
  height: auto;
}

.background {
  display: flex;
  position: absolute;
  z-index: -1;
}

.background-esq {
  width: 50vw;
  height: calc(100vh - 1px);
  background: var(--cor-p3);
}

.background-dir {
  width: 50vw;
  height: calc(100vh - 1px);
  background: var(--cor-s3);
}

/* Header */
.header {
  margin-left: 2rem;
  grid-column: 1 / -1;
  justify-self: center;
  width: 60%;
  height: auto;
  padding: 40px;
}

/* Flower Top */
.flower-tr {
  width: 40%;
  grid-column: 11 / -1;
  grid-row: 2;
}

/* Flowers Bottom */
.flower-bll,
.flower-blm,
.flower-blr {
  width: 120%;
  align-self: end;
}

.flower-bll {
  grid-column: 2 / 3;
  grid-row: 3 / -1;
}

.flower-blm {
  grid-column: 1 / 2;
  grid-row: 3 / -1;
}

.flower-blr {
  grid-column: 3 / 4;
  grid-row: 3 / -1;
}

/* Photo */
.photo-perfil {
  width: 46%;
  margin-right: 5rem;
  grid-column: 2 / -1;
  grid-row: 2 / -1;
  justify-self: center;
  align-self: end;
}

/* Menu */
.menu {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-left: 20px;
  grid-column: 11 / -1;
  grid-row: 3 / -1;
  align-self: center;
}

.menu li a {
  transition: ease-in-out .4s ;
}

.menu li a:hover {
  transform: translatex(32px);
  background: var(--cor-p5);
}