* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #000;
  color: #fff;
  font-family: monospace;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 400px;
  align-items: center;
  text-align: center;
}

.container {
  border: 2px solid #fff;
  padding: 40px;
}

.container form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.codificacao {
  align-self: end;
}

.container form .codificar {
  flex-grow: 1;
}

button {
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  background: linear-gradient(45deg, blue, red);
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
  margin: 10px;
  transition: .3s;
}

button:hover {
  scale: 1.1;
  background: linear-gradient(90deg, blue, red);
}