@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@100;500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #E4B374;
}

a {
  text-decoration: none;
  color: #FEEAE5;
  font-size: 1.3rem;
  font-family: 'Montserrat Alternates', sans-serif;
  transition: 0.3s;
  text-shadow: 2px 2px 2px #3D2923;
}

a:hover {
  font-size: 1.4rem;
  color: #E4B374;
  text-shadow: 1px 1px 2px #3D2923;
}

li {
  list-style: none;
  padding: 20px;
}

.logo {
  color: #FEEAE5;
  text-transform: uppercase;
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: 100;
  transition: .3s;
}

.logo:hover {
  transform: scale(1.2);
  padding-left: 30px;
}

.logo span {
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: 500;
  color: #3D2923;
}

.header {
  background: #BB7654;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.menu {
  display: flex;
}

@media (max-width: 700px) {
  h1 {
    display: none;
  }

  .menu {
    flex-direction: column;
    text-align: center;
  }

  .menu li {
    padding: 10px;
  }

  .header {
    justify-content: center;
  }
}